@import 'additional-styles/utility-patterns.scss';


$c-sky-blue: hsl(203, 100%, 60%);
$c-navy: hsl(210, 29%, 24%);
$c-light-gray: hsl(216, 14%, 93%);

// $c-primary: #4B4ACF;
$c-primary: #5d5dff;
$c-border: $c-light-gray;
$c-nav-link: $c-navy;

@mixin breakpoint($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

$bk-navbar: 600px;

.h1 {
  @apply text-white text-4xl font-extrabold leading-tight tracking-tighter;
}

.h2 {
  @apply text-white text-3xl font-extrabold leading-tight tracking-tighter;
}

.h3 {
  @apply text-white text-3xl font-bold leading-tight;
}

.h4 {
  @apply text-white text-2xl font-bold leading-snug tracking-tight;
}

@screen md {
  .h1 {
    @apply text-5xl;
  }

  .h2 {
    @apply text-4xl;
  }
}

.btn,
.btn-sm {
  @apply font-medium inline-flex items-center justify-center border border-transparent rounded-sm leading-snug transition duration-150 ease-in-out;
}

.btn {
  @apply px-8 py-3;
}

.btn-sm {
  @apply px-4 py-2;
}
